<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/RiskGame-Master/src/risk/controller/RiskGameModeController.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="risk.controller.RiskGameModeController"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="RiskGame-Master"/>
</launchConfiguration>
